body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd53a, #ACB6E5);
    margin: 0;
    padding: 0;
}
.form-container{
    background-color: #ddf6fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;                 
}
.submit-btn{
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
}
.input-box{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;    
}
.links{
    margin-top: 20px;
}
.links a{
    margin: 0 10px;
    text-decoration: none;
    color: #010101;
    font-weight: bold;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    padding: 10px 15px;
    border-radius: 4px;
}
.links a:hover{
    background: linear-gradient(to right, #00f2fe, #4facfe);
} 

.about-header{
    text-align: center;
    color: #0b0b0b;
    font-family: Georgia, serif;
    font-size: 19px;
    
}
.about-info{
    background-color: #f4f6f729;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.about-services{
    background: linear-gradient(127deg, #ae3ef329, #6fc9fd3f);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 20px auto;
    display: inline-block;
    font-size: 22px;
}
.home-content{
    text-align: center;
    color: #000000;
    font-family: Georgia, serif;
    font-size: 19px;
    margin-top: 90px;
}
.nav-bar{
    background: linear-gradient(to right, #4facfe8e, #00f1fe7a);
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}
.nav-bar nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav-bar nav span{
    cursor: pointer;
    font-weight: bold;
    color: #0b0b0b;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.display-dbdata{
    background-color: #f4f6f729;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}
.table-header{
    font-weight: bold;
    color: #0b0b0b;
    font-family: Georgia, serif;
    font-size: 19px;
    text-align: center;
    background: linear-gradient(to right, #4facfe8e, #0131337a);
}
.main-table{
    width: 100%;
    border-collapse: collapse;
}
#students-table{
    background: linear-gradient(to right, #66e3ff23, #3ba6aabd);
}
#students-table .table-header{
    background: linear-gradient(to right, #84cee5dc, #2b03686b);

}

/* Faculty Info Management System */
.faculty-info-management-system{
    background: linear-gradient(to right, #89e8d63a, #38ddcf);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;                 
}
.faculty-content-form{
    background: linear-gradient(0deg, #89e8d63a, #38ddcf);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 0 auto;            
}
input[type="text"], input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;    
}
.edit-btn{
    background: linear-gradient(to right, #f0ec16, #ecda55);
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;    
}
.show-btn{
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
    border: 2px solid #e1a203;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;    
}
.faculty-alternative-display{
    background: linear-gradient(to right, #89e8d63a, #38ddcf4d);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;                 
}
.faculty-info{
    background: linear-gradient(0deg, #b8ede4f1, #f3fcfb);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 20px auto;

}